.image{
  
      display: flex;
    align-items: center;
    margin-top: 12px;
margin-bottom: 5px;
    
}
.imag{
height: 20px;
width: 20px;
margin-left: 2px;
}
.imag1{
    margin-left: 25px;
    height: 20px;
width: 20px;
padding: 2px;
}
.imag2{
    margin-left: 29px;
    height: 20px;
width: 20px;
}
.imag3{
    margin-left: 33px;
    height: 20px;
width: 20px;
}
.imag4{
    margin-left: 36px;
    height: 20px;
width: 20px;
}
.imag5{
    margin-left: 25px;
    height: 20px;
width: 20px;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 24px;
}
.delete{
    border: 2px solid red;
    background: none;
    width: 15px;
}
.palette{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.input-field{
    border: 2px solid green;
    
}

