.outerdiv{
    border: 2px solid white;
    width: 99vw;
    height: 98vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.innerdiv{
    
    border: 1px solid rgb(230, 230, 230);
    width: 59%;
    height: 94%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    display: flex;
    margin-right: 50px;
    margin: 18px;
   
}

.input-field{
    display: flex;
    flex-direction: row;
   margin: 5px;
 
  
}
.input-name{
    margin-right: 10px;
   
}
.userinput-field{
   padding-top: 1px;
    width: 408px;
    padding-left: 9px;
    
    
}
.input-pass{
margin-right: 10px;
  padding-left: 2px;
}
.pass{
    margin-left: 20px;
    font-size: 15px;
    flex-direction: row;
    
}
.Lastinput-field{
    padding-left: 0px;
}
.checkbx{
    margin-left: 27px;
   
}
input.checkbx{
    height: 20px;
    width: 20px;
    margin-left: 4%;
}
.field{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}
.size{
    font-size: 14px;
    margin-left: 1%;

}
.size2{
    font-size: 14px;
    padding-left: 15px;
   
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.but{
    margin-left: 100px;
}

.btn1{
    margin-left: 5px;
}
.login{
    font-size: 16px;
  margin-left: 8px;
  margin-top: 42px;
    margin-bottom: 16px;
    padding-top: 5px;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    

    text-align: left;
    border: 0;
}
.btn2{
    margin-left: 200px;
}
.mat-raised-button{
    background-color:#1a73e8;
    color: white;
    position: absolute;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
}
.image{
    margin-right: 70px;
    
}
.imag{
    width: 280px;
    height: 280px;
    padding-bottom:105px;
   
}

.paragraph1{
    font-size: 16px;
    font-weight: 220;
   margin-left: 50px;
    display: flex;
   box-sizing: border-box;
   display: block;
   text-align: center;
margin-right: 40px;

}

.fun{
    margin-left: 4px;
    margin-top: 40px;
    justify-content: space-around;
    font-size: 24px;
}

.color1{
color: #1a73e8

}
.color2{
color: red;
}
.color3{
color: orange;
}
.color4{
    color: greenyellow

}
.butn {

    font-size: 25px;
    font-style: normal;
    text-align: left;
    margin-bottom: 45px;
    color: #1a73e8;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    border: 0;

}
.Current{
    padding-top: 20px;
    margin-left: 12px;
    color: #1a73e8;
    font-size: 15px;
    font-weight: 510;
}
.pass1{
margin: 2px;
padding-top: 8%;
height: 56px;
}

.heading{
    margin-top: 32px;
   margin-left: 4px;
 
}
.size3{
    padding-left: 15px;
}


