<div class="outerdiv">
  <div class="innerdiv">
    <div>
      <div class="fun">
        <span class="color1">F</span>
        <span class="color2">u</span>
        <span class="color3">n</span>
        <span class="color1">d</span>
        <span class="color4">o</span>
        <span class="color2">o</span>

        <div>
          <h1 class="heading">Create Your Fundoo Account</h1>
        </div>
      </div>

      <div class="input-field">
        <mat-form-field class="input-name" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
        </mat-form-field>

      </div>

      <mat-form-field class="userinput-field" appearance="outline">
        <mat-label>UserName</mat-label>
        <input matInput placeholder="UserName">
        <mat-error>Enter Your Email</mat-error>
        <mat-hint class="size">You can use letters,numbers & periods</mat-hint>
      </mat-form-field>

      
      <div class="input-field">
        <div>
        <mat-form-field class="input-pass" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input matInput placeholder="Confirm">

        </mat-form-field>
         <div class="Size">
          <mat-hint class="size2">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
         </div>
          
        
        </div>
      </div>


      <div class="field">
        <input type="checkbox" class="checkbx">
        <label class="pass">Show Password</label>
      </div>



      <div class="button">
        <div class="btn1">
          <button class="login">Sign in instead</button>

        </div>
        <div class="btn2">
          <button class="mat-raised-button">Next</button>
        </div>

      </div>
    </div>
    <div class="image">
      <div class="imag">
        <img src="../../../assets/account.svg" alt="">
        <div class="paragraph">
          <p class="paragraph1">One account. All of Fundoo working for you.</p>
      </div>
      </div>
    </div>


  </div>
</div>