<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <div class="outerdiv">
      <div>
          <mat-toolbar class="example-toolbar">
              <button mat-icon-button (click)="snav.toggle()">
                  <mat-icon>menu</mat-icon>
              </button>
              <img class="Keep-Icon" src="../../../assets/keep_2020q4_48dp.png">
              <h1 class="heading">Fundoo</h1>
          </mat-toolbar>
      </div>
          <div class="S">
              <div class="searchbar">
                  <img role="button" class="Img" src="../../../assets/search_FILL0_wght400_GRAD0_opsz48.svg">
                  <input class="search" type="text" placeholder="Search">
                  <img role="button" class="Img1" src="../../../assets/close_FILL0_wght400_GRAD0_opsz48.svg">
              </div>
          </div>
      <div class="imagdiv">
       <div class="refreshdiv">
        
      <img  class="refresh" src="../../../assets/refresh_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        
       </div>
       <div class="view-list">
        <img  class="view" src="../../../assets/view_agenda_FILL0_wght200_GRAD-25_opsz48.svg" alt="">
       </div>
       <div class="settingdiv">
        <img class="setting"  src="../../../assets/settings_FILL0_wght400_GRAD0_opsz48.svg" alt="">
       </div>
      </div>
       <div class="prof">
        <div class="appdiv">
          <img class="app"  src="../../../assets/apps_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        </div>
        <div class="profdiv">
          <img class="profile"  src="../../../assets/person_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        </div>
       </div>
        </div>

        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
          <mat-sidenav style="width: 300px;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
              [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
              <div class="A">
                  <mat-nav-list>
                      <div class="B">
                          <div role="button" class="notes" routerLink="/dashboard/notes">
                              <div class="C">
                                <img class="img" src="../../../assets/lightbulb_FILL0_wght400_GRAD0_opsz48 (1).svg">
                              </div>
                              <div class="icons">
                                  <p>Notes</p>
                              </div>
                          </div>
                      </div>
                      <div class="B">
                          <div role="button" class="notes" routerLink=".">
                              <div class="C">
                                <img class="img" src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg">
                              </div>
                              <div class="icons">
                                  <p>Reminders</p>
                              </div>
                          </div>
                      </div>
                      <div class="B">
                          <div role="button" class="notes" routerLink=".">
                              <div class="C">
                                <img class="img" src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48.svg">
                              </div>
                              <div class="icons">
                                  <p>Labels</p>
                              </div>
                          </div>
                      </div>
                      <div class="B">
                          <div role="button" class="notes" routerLink="/dashboard/archive">
                              <div class="C">
                                <img class="img" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg">
                              </div>
                              <div class="icons">
                                 <p>Archive</p>
                              </div>
                          </div>
                      </div>
                      <div class="B">
                          <div role="button" class="notes" routerLink="/dashboard/trash">
                              <div class="C">
                                <img class="img" src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg">
                              </div>
                              <div class="icons">
                                 <p>Trash</p>
                              </div>
                          </div>
                      </div>
                  </mat-nav-list>
              </div>
          </mat-sidenav>
  
          <mat-sidenav-content>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </div>