<!-- <div class="innerDiv">
    <div class="OuteDiv" *ngFor="let noteArray of noteArray">
        <div>
            <div>
                <p> {{noteArray.title}}</p>
            </div>
            <div>
                <p>{{noteArray.description}}</p>
            </div>
        </div>
            <div class="OuterDiv">
                <div role="button" class="add" matTooltip="Delete forever" (click)="OnDeleteForever()">
                    <img class="divImg" src="../../../assets/delete_forever_FILL0_wght400_GRAD0_opsz48.svg">
                </div>
                <div role="button" class="add" matTooltip="Restore" (click)="OnSubmit()">
                    <img class="divImg" src="../../../assets/restore_from_trash_FILL0_wght400_GRAD0_opsz48.svg">
                </div>
            </div>
    </div>
</div> -->
<div class="outerdiv">
    <div class="innerdiv" *ngFor="let noteArray of noteArray">
        <div>
            <p>{{noteArray.title}}</p>
            <p>{{noteArray.description}}</p>
        </div>
        <div>
            <app-icons></app-icons>
        </div>
    </div>
</div>