<div class="outerdiv">
    <div class="innerdiv">
        <div class="fun">
            <span class="color1">F</span>
            <span class="color2">u</span>
            <span class="color3">n</span>
            <span class="color1">d</span>
            <span class="color4">o</span>
            <span class="color2">o</span>
        </div>
        <div>
            <h3 class="heading1">Sign in</h3>
        </div>
        <div>
            <h4 class="heading2"> Use your Fundoo Account</h4>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div>
        <div class="Email">
            <mat-form-field class="email" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
       
        <div class="Email">
            <mat-form-field class="email" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="forgotemail">
            <p class="butn" routerLink="/forgotpassword"><b>Forgot password?</b></p>
        </div>
        <div>
            <mat-hint class="size">Not your computer? Use Guest mode to sign in privately.</mat-hint>
            <span>
                <button class="buttn"><b>Learn more</b></button>
            </span>
        </div>
        <div class="main">
            <div>
                <p class="btn1" routerLink="/register">
                    <b>Create account</b>
                </p>
            </div>
            <div class="btn2">
                <button class="mat-raised-button"> Next </button>
            </div>
        </div>
</div>
</form>
        
    </div>
</div>