<div [style.background]="data.color" class="a">
    <div>
        <input class="title" type="text" placeholder="Title" [(ngModel)]="title"  [style.background]="data.color">
    </div>
    <div>
        <input class="desc" type="text" placeholder="Take a note" [(ngModel)]="description"  [style.background]="data.color">
    </div>
    <div>
        <div class="down-icons">
            <div>
                <app-icons></app-icons>
            </div>
            <div class="Button">
                <button class="button1"  (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>
