<div class="outerdiv">
    <div class="innerdiv">
        
            <div class="fun">
                <span class="color1">F</span>
                <span class="color2">u</span>
                <span class="color3">n</span>
                <span class="color1">d</span>
                <span class="color4">o</span>
                <span class="color2">o</span>

             </div>
        <div>
            <h3 class="heading1">Find your email</h3>
        </div>
        <div>
            <p class="heading2"> Enter your recovery email</p>
        </div>
        <div class="Email">
            <mat-form-field class ="email" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
               </mat-form-field>
        </div>
        <button class="mat-raised-button">Next</button>
</div>
</div>
