<div class="outerdiv">
    <div class="innerdiv">
<div>
    <div class="fun">
        <span class="color1">F</span>
        <span class="color2">u</span>
        <span class="color3">n</span>
        <span class="color1">d</span>
        <span class="color4">o</span>
        <span class="color2">o</span>
    </div>
        <div>
          <h3 class="heading">Reset</h3>
        </div>
        <p class="para">Enter your new password</p>
      
</div>
<div>
    <mat-form-field class="input-field" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password">
        <mat-hint class="size">At least 8 characters</mat-hint>
      </mat-form-field>
</div>
<div>
    <mat-form-field class="input-field" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input matInput placeholder="Confirm New Password">
      </mat-form-field>
</div>
<button class="mat-raised-button">Save</button>

</div>
</div>

